.card .overview {
  max-height: 60px;
  border-bottom: 1px solid #D1D1D1;
  padding: 10px;
  text-align: center;
}
.card .overview h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }

  .card .overview h5 {
  font-size: 12px;
  font-weight: 400;
  margin: 5px 0 0;
}

.solid-border-right {
  border-right: 1px solid #f4f6f6;
}

.rent-property-card .detail-summary .summary-row .info-card .semi-bold {
  margin: 0;
  color: #707070;
  font-weight: 600;
}

.card .detail-summary {
  border-style: double;
  border-color: #E1E1E1;
  margin-right: 10px;
}

.card .detail-summary h5 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  display: inline-block;
}

.rent-property-card .detail-summary .summary-row .info-card {
  padding-top: 10px;
  padding-left: 45px;
}
.card .detail-summary .summary-row .solid-border-right {
  border-right: 1px solid #D1D1D1;
  min-height: 60px;
  max-height: 60px;
}
.card .detail-summary .summary-row .property-facing {
  background-position: -14px -265px;
}

.item-slick.slick-slide.slick-current.slick-active {
outline: none !important;
}

.slider-for {
margin-bottom: 15px;
}
.slider-for img {
width: 100%;
min-height: 100%;
}

.slider-nav {
margin: auto;
}

.slick-slide.slick-current {
  position: absolute !important;
  left: 0 !important;
}

.slick-slide {
  width: 100% !important;
  position: absolute !important;
  left: 0 !important;
}

.slider-nav .item-slick {
max-width: 240px;
margin-right: 15px;
outline: none !important;
cursor: pointer;
}
.slider-nav .item-slick img {
max-width: 100%;
background-size: cover;
background-position: center;
}

.slick-arrow {
  position: absolute;
  top: 10%;
  z-index: 1111;
  font-size: 30px;
  padding: 7px;
  color: #fff;
}

.slick-prev {
left: 0;
}

.slick-next {
right: 0;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close:hover {
cursor: pointer;
}

.mfp-container:hover {
cursor: default;
}

.image-source-link {
color: #98C3D1;
}

.mfp-with-zoom.mfp-bg {
opacity: 0;
transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
opacity: 0.8;
}

.mfp-with-zoom.mfp-removing.mfp-bg {
opacity: 0;
}

/*BLUR background */
* {
transition: filter 0.25s ease;
}

.mfp-wrap ~ * {
filter: blur(5px);
}

.mfp-ready .mfp-figure {
opacity: 0;
}

/* start state */
/* animate in */
/* animate out */
.mfp-zoom-in .mfp-figure, .mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler {
opacity: 0;
transition: all 0.3s ease-out;
transform: scale(0.95);
}

.mfp-zoom-in .mfp-preloader {
opacity: 0;
transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-image-loaded .mfp-figure, .mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler {
opacity: 1;
transform: scale(1);
}

.mfp-zoom-in.mfp-ready .mfp-preloader {
opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-figure, .mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler {
transform: scale(0.95);
opacity: 0;
}

.mfp-zoom-in.mfp-removing .mfp-preloader {
opacity: 0;
}

.mfp-iframe-scaler {
overflow: visible;
}

.mfp-zoom-out-cur {
cursor: auto;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
cursor: pointer;
}
