.row{margin-left: 0 !important;margin-right: 0 !important}
.no-padding{padding: 0 !important;}
.hide{display: none;}
.card_background h4{font-size: 17px !important;}
.card_background img{width: 100%;height: 250px;}
.card_background .speaker-footer{    font-size: 16px;
    color: white;
    margin: 0;
    padding: 11px 0px 11px 0px;}
.hero-banner-sm{
  padding: 60px 0 !important;
}
.hero-banner h2{
  font-size: 32px !important;
  margin-bottom: 10px;
}
.section-padding--large{
    padding: 70px 0 !important;
}
.custom_header_button{
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Oswald",sans-serif;
  font-weight: 500;
  padding: 12px 54px;
  border: 1px solid #d5eefc;
  background-color: #d5effc;
  color: #3e4095;
  border-radius: 4px;
  width: 212px;
}
.button-header{
  background: #a8cf45;
  color: #fff;
  border-color: #a8cf45;
  width: 212px;
}
.button-header:hover{
  background: #a8cf45;
  color: #fff;
  border-color: #a8cf45;
}
.custom_members{
  list-style: none;
  padding-left: 30px;
}
.custom_members li{
  display: inline-block;
  flex: 0 0 25%;
  max-width: 25%;
  float: left;
  margin-bottom: 25px;
}
.custom_members li > div:nth-child(1){
  height: 281px;
}
.custom_members li > div > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.custom_members li > div h4{
  font-size: 16px;
  text-align: left;
}
.custom_members li > div p:nth-chid(1){
  font-size: 14px;
}
.custom_members li > div p{
  color: #6f6f6f;
  margin-bottom: 0;
}
.location_list ul{
  padding-left: 0px;
  margin-bottom: 0;
  list-style: none;
}
.location_list ul li{
  position: relative;
  color: #666;
}
.location_list ul li.head{font-weight: 600}
.location_list ul li::before{
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
}
.modal .modal-dialog .modal-content .modal-header h4{
  justify-content: left;
  margin-bottom: 0;
}
.modal .modal-dialog .modal-content .modal-header .custom_close{
  float: right;
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-size: 20px;
}
.form-group>div{
  position: relative;
}
.form-group>div> i{
  position: absolute;
  top: 0px;
  left: 0;
  width: 30px;
  height: 38px;
  color: #fff;
  background-color: #3f51b5;
  line-height: 37px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.form-group>div>input{
  text-indent: 25px;
}
.footer-area{padding-top: 80px !important;}
.footer-bottom{margin-top: 40px !important;}
